services:
  - type: web
    name: lista-navidad
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn lista_navidad.wsgi:application"
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: PYTHON_VERSION
        value: 3.11.0
    autoDeploy: true
